html,
body,
#app {
  height: 100%;
  margin: 0px;
}

#app {
  display: flex;
}

.box {
  width: 500px;
  height: 60px;
  margin: 5px;
}

.red {
  background: #f00;
  order: 3;
}

.green {
  background: #0f0;
  order: 2;
}

.blue {
  background: #00f;
  order: 3;
}